.search-wrapper {
    position: relative;
    width: 200px;
}

.search-input {
    width: 100%;
    padding-right: 30px;
}

.clear-button {
    position: absolute;
    right: 15px;
    top: 73%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    font-weight: bold;
    font-size: 24px;
    color: #FF8080;
}

.search-wrapper.show-clear .clear-button {
    display: block;
}