*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
    background-image: linear-gradient(to right bottom, #daf3fb, #dbf0fd, #deecfe, #e4e8fd, #eae4f9, #eadef5, #ebd9f1, #ecd3eb, #e7cae6, #e3c2e1, #deb9dc, #dab1d7);
    background-attachment: fixed;
    /* กำหนดความกว้างของเว็บให้คงที่ / ขนาด com ที่เปิดใน mobile start */
    min-width: 1200px; 
    margin: 0 auto;
    /* กำหนดความกว้างของเว็บให้คงที่ / ขนาด com ที่เปิดใน mobile end */
}


/* โทรศัพท์ ไอแพด */
@media only screen and (max-width: 768px) {
    .menu-nav1 ,
    .menu-nav1 a{
        color: #aa91dc; 
        display: flex; 
        align-items: center; 
        padding:5px;
    }
    .menu-nav0 {
        display: flex;
        justify-content: space-between;
        flex-direction:row;
        /* flex-direction:column; */
        padding: 5px;
        background-color: #FFFFFF;
    }
    .menu-nav2 {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex-direction:row;
        /* flex-direction:column; */
        text-align: left;
        justify-content: flex-start;
    }
    .arrow-drop-down ,
    .arrow-drop-down-right{
        /* min-width: 100%;  */
        min-width: 300px; 
    }
}

/* โน็ตบุ๊ค คอมจอใหญ่ */
@media only screen and (min-width: 769px) {
    .menu-nav1 ,
    .menu-nav1 a{
        color: #aa91dc; 
        display: flex; 
        align-items: center; 
        padding: 0 20px;
    }
    .menu-nav0 {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        background-color: #FFFFFF;
    }
    .menu-nav2 {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .arrow-drop-down ,
    .arrow-drop-down-right{
        min-width: 300px; 
    }
}

.menu-nav2 li {
    margin-right: 10px;
}

.menu-nav2 li a , span{
    color: #000000; 
    text-decoration: none;
    display: block; 
    padding: 10px; 
}
.arrow-top-down {
    position: relative; 
    /* border: 3px solid rgb(223, 205, 108); */
}
.arrow-top-down::after {
    content: ' ▼';  /* เพิ่มสัญลักษณ์ ▼ หลังลิงก์ */
}
.arrow-top-down:hover::after {
    content: ' ▲';  /* เปลี่ยนเป็น ▲ เมื่อ hover */
}

.arrow-drop-down {
    display: none;
    position: absolute; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 2px; 
    top: 38px; 
    left: 0; 
    padding:4px; 
    line-height:2; 
    font-size:14px;
}
.arrow-drop-down-right { 
    display: none;
    position: absolute; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 2px; 
    top: 39px; 
    right: 0; 
    padding:4px; 
    line-height:2; 
    font-size:14px;
}
.hover-nav-item{ display: flex; align-items: center; transition: 1s; }
.hover-nav-item:hover {
    color: #FFFFFF; 
    background-color:#aa91dc;
    border-radius: 2px;
    transition: 1s;

    .arrow-drop-down ,
    .arrow-drop-down-right{ /* ถ้าเกิดมีการ hover ส่วนนี้ขึ้น ให้แสดง menu */
        display: block;
        padding: 5px; 
        background-color:#FFFFFF;
        z-index:99;
    }
    .arrow-drop-down a ,
    .arrow-drop-down-right a{ /* ถ้าเกิดมีการ hover ส่วนนี้ขึ้น ให้แสดง menu */
        padding: 5px; 
    }
    .arrow-drop-down a:hover,
    .arrow-drop-down-right a:hover {
        padding: 5px;
        background-color: #efeff8;
    }
}

