/* @font-face {
    font-family: 'Prompt-awl';
    src: url('assets/fonts/prompt/Prompt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Prompt-awl';
} */

/* scrollbar Start */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb {
    border-radius: 16px;
    border: solid 5px transparent;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.075);
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px 5px  #8080c0;
  }
/* scrollbar END */

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"] {
    height: 24px;
    padding:0px 10px;
    border: 1px solid #202020;
    border-radius: 25px;
    margin-right: 10px;
}

input[type="date"]{
    text-align: center;
    height: 24px;
    padding:0px 10px;
    border: 1px solid #202020;
    border-radius: 25px;
    margin-right: 10px;
}

select , 
.form-select-custom-awl {
    height: 24px;
    padding:0px 10px;
    border: 1px solid #202020;
    border-radius: 25px;
    margin-right: 10px;
}

textarea {
    border-radius:15px;
    border: 1px solid #202020;
    padding:8px;
}

.textarea-form-control {
    border-radius:15px;
    border: 1px solid #202020;
    padding:8px;
}

input[type="checkbox"] {  
    accent-color: white; /* ปรับสีของ checkbox */  
    width: 14px; /* ปรับขนาดให้เหมาะสม */  
    height: 14px; /* ปรับขนาดให้เหมาะสม */  
    cursor: pointer; /* เปลี่ยนรูปแบบของเคอร์เซอร์ */  
    appearance: none; /* ทำให้ไม่มีการจัดรูปแบบของเบราว์เซอร์ */  
    border: 0.5px solid black; /* ขอบของ checkbox */  
    outline: none; /* ลบเส้นขอบเมื่อเลือก */  
    display: inline-block; /* แก้ไขการแสดงผลให้ถูกต้อง */  
    vertical-align: middle; /* ทำให้ align กับข้อความ */  
}  

input[type="checkbox"]:checked {  
    background-color: white; /* สีพื้นเมื่อเลือก */  
    border: 0.5px solid black; /* ขอบเมื่อเลือก */  
}  

/* เพิ่มเครื่องหมายถูก */  
input[type="checkbox"]:checked::before {  
    content: '✓'; /* สัญลักษณ์ที่ใช้แทนเครื่องหมายถูก */  
    color: black; /* สีของเครื่องหมายถูก */  
    position: relative;  
    left: 1.5px; /* ปรับตำแหน่งตามต้องการ */  
    top:-5px;
}

.form-search-custom-awl { // search ที่มี icon ค้นหา
    width: 233px;
    height: 24px;
    padding: 0px 30px 0px 10px;
    border: 1px solid #202020;
    border-radius: 25px;
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23A2A0DD' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 16px;
    outline: none;
}

.btn-custom-awl{
    background-color:#9A9A9A;
    height: 24px;
    padding: 0px 10px;
    border: 1px solid #F1E1FF;
    border-radius: 25px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}


.table-thead-custom-awl{
    width:100%;
    border-collapse: collapse;
}

.table-thead-custom-awl thead tr th {
    border-collapse: collapse;
    text-align:center; 
    background-color:#ededed;
    padding: 10px 0px;
}
.table-thead-custom-awl th {
    border-collapse: collapse;
    text-align:center; 
    background-color:#ededed;
    padding: 10px 0px;
}
.table-thead-custom-awl tbody tr td {
    border-collapse: collapse;
    text-align: center;
    /* background-color:#FFFFFF; */
    vertical-align:middle;
    padding: 5px 0px;
    
}


.font-custom-awl-14{
    font-size:14px;
}




/* ((datalist-css)) customerSelect Start */

.product-data-container {
    position: relative; /* ทำให้ container เป็นจุดอ้างอิงสำหรับ positioning */
    display: inline-block; /* หรือ block ขึ้นอยู่กับ layout ของคุณ */
}

datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius:8px;
}

datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: #FCFCFC;
    cursor: pointer;
    text-align:left;

}

datalist option:hover, datalist option:focus {
    color: #8080c0;
    background-color: #F1E1FF;
    outline: 0 none;
}
/* ((datalist-css)) customerSelect End */

.solnamehover:hover { /* ส่วนของหน้า product_list_controllers */
    background-color: #F1E1FF;
}


#item_product {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius:8px;
    background-color: #FFFFFF;
    text-align: left;
    font-weight: 100;
}

#item_product #item_product_row{
    padding:4px 14px;
}

#item_product_row:hover {
    color: #8080c0;
    background-color: #F1E1FF;
    outline: 0 none;
}